:root {
  font-size: 10px;
  --white30: #251F24;
  --white20: #3A3539;
  --white10: #A5A3A5;
  --blue: #157EFB;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white30);
  color: white;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

a {
  color: var(--blue);
}

blockquote {
  background: var(--white20);
  border-radius: 0.8rem;
  margin-block-start: 8rem;
  margin-block-end: 6.3rem;
  margin-inline: 0;
  padding-inline-start: 2.4rem;
  padding-inline-end: 1.7rem;
  padding-block-start: 2.4rem;
  padding-block-end: 2.4rem;
}

blockquote p:first-child::before {
  content: '“';
}
blockquote p:first-child::after {
  content: '”';
}

blockquote p:nth-child(2)::before {
  content: '- ';
}

header {
  color: white;
  font-size: 1.4rem;
  inline-size: 18.8rem;
  position: absolute;
  /* top */
  inset-block-start: 0;
  /* bottom */
  /* inset-block-end: ; */
  /* left */
  inset-inline-start: -23.2rem;
  /* right */
  /* inset-inline-end: ; */
}

header a {
  color: var(--white10);
  text-decoration: none;
}

header a:hover {
  color: white;
}

header li {
  color: var(--white10);
  margin-block-end: 1.6rem;
}

nav details summary {
  font-weight: bold;
}

h1 {
  color: white;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8.7rem;
  margin-block-start: 6.4rem;
  margin-block-end: 1.6rem;
}

h1 + p {
  color: var(--white10);
  font-size: 17px;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 5.4rem;
  margin-block: 4rem;
}

h3 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4.3rem;
  margin-block: 1.6rem;
}

p {
  font-size: 1.7rem;
  margin-block: 1.6rem;
}

hr {
  margin-block: 4rem;
  border-color: rgba(97,97,97, 0.2);
}

pre {
  background: var(--white20);
  color: white;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  padding: 4rem;
  overflow: auto;
  margin-block-end: 4rem;
}

.header {
  position: sticky;
  inset-block-start: -4.4rem;
}

.header-content {
  position: relative;
  inset-block-start: 6.4rem;
}

.hero {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  height: 35rem;
}

.main {

}

.wrapper {
  /* width */
  max-inline-size: 90.2rem;
  margin: auto;
}

.main-content {
  padding-inline: 1.6rem;
}

.section-content {
  counter-reset: titleList;
}

.section-content p {
  color: var(--white10);
}

.section-content blockquote p {
  color: white;
  font-size: 2.4rem;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

.section-content + hr {
  display: none;
}

.section-content img {
  display: block;
  margin-block-start: 4rem;
  /* max-width: 100% */
  max-inline-size: 100%;
}

.section-content ol li {
  line-height: 2.4rem;
}

.section-content ul li {
  margin-block-end: 1.6rem;
}

.section-content li {
  color: var(--white10);
  font-size: 1.7rem;
}