:root {
  font-size: 16px;
  line-height: 24px;
  --gray40: #212121;
  --gray30: #212429;
  --gray20: #424242;
  --gray10: #616161;
  --lightGray: #808080;
}

body {
  color: var(--gray20);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  color: var(--gray10);
}

blockquote {
  font-size: 1.5rem;
  margin: 2rem 0;
  padding-left: 1rem;
  border-left: 0.25rem solid var(--gray40);
}

blockquote p {
  color: var(--gray20);
}
blockquote p:first-child::before {
  content: "“";
}
blockquote p:first-child::after {
  content: "”";
}
blockquote span {
  color: var(--gray10);
}
blockquote span::before {
  content: "- ";
}

header {
  color: var(--gray10);
  font-size: 0.875rem;
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray40);
}

nav details summary {
  font-weight: bold;
}

nav ol li {
  margin-bottom: 1rem;
}

nav ol li:last-child {
  margin-bottom: 0;
}

h1 {
  color: var(--gray40);
  font-size: 3.75rem;
  line-height: 4.39rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

h1 + p {
  color: var(--gray40);
}

h2 {
  color: var(--gray40);
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.34rem;
  margin: 4rem 0 2.5rem;
}

h3 {
  color: var(--gray20);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.75rem;
  margin: 1rem 0 1.5rem;
}

hr {
  margin: 4rem 0;
}

pre {
  background: #fec62e;
  color: black;
  font-family: "Roboto", sans-serif;
  padding: 2.5rem;
}

.hero {
  background-image: linear-gradient(
      3.36deg,
      #212325 -63.62%,
      rgba(255, 255, 255, 0) 43.49%
    ),
    url("../images/pattern.png");
  height: 21.875rem;
}

.section-content {
  counter-reset: titleList;
  margin-top: 10.25rem;
}

.section-content:first-of-type {
  margin: 0;
}

.section-content + hr {
  display: none;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 0.25rem;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

.section-content h3::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 0.25rem;
  background: var(--gray20);
}

.section-content img {
  margin-top: 2.5rem;
}

.section-content h2 + img {
  margin-top: 0;
}

.section-content p + img {
  margin: 0;
}

.section-content ul li {
  margin-bottom: 1rem;
}
